.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rowItem {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.rowItem > label {
  width: 170px;
  text-align: right;
  margin-right: 5px;
}

.rowItem > input, select  {
  width: 300px;
  border: 1px solid grey;
  border-radius: 3px;
}


.port {
  width: 50px
}
