.point {
  display: flex;
  margin-bottom: 40px;
}

.icon {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

.description {
  text-align: left;
}

.pointTitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  margin-bottom: 4px;
}

.pointSubtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #929292;
}
